<p id="notice"><%= @user.username %></p>
<p id="notice"><%= @user.password %></p>
<p id="notice"><%= @user.address %></p>
<p id="notice"><%= @user.phone %></p>
<p id="notice"><%= @user.email %></p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
